<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CRUD Node.js and Mysql</title>
  <link href="\css\bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <h2>Member List</h2>
		<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ id }}</td>
          <td>{{ username }}</td>
          <td>{{ password }}</td>
          <td>{{ email }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ id }}" data-username="{{ username }}" data-password="{{ password }}" data-email="{{ email }}">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

	<!-- Add New Member Modal-->
	  <form action="/save" method="post" name="formadd">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Member</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="username" class="form-control addusername" placeholder="Username" required>
               </div>

               <div class="form-group">
                   <input type="text" name="password" class="form-control addpassword" placeholder="Password" required>
               </div>

                <div class="form-group">
                   <input type="text" name="email" class="form-control addemail" placeholder="Email" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" id="checkpassword" class="btn btn-primary" onclick="return CheckPassword(document.formadd.password)">Save</button>
             </div>
           </div>
         </div>
        </div>
	 </form>

	 <!-- Edit Member Modal-->
   <form action="/update" method="post" name="formedit">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Member</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="username" class="form-control username" placeholder="Username" required>
              </div>

              <div class="form-group">
                  <input type="text" name="password" class="form-control password" placeholder="Password" required>
              </div>

              <div class="form-group">
                  <input type="text" name="email" class="form-control email" placeholder="Email" required>
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" onclick="return CheckPassword(document.formedit.password)">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>

	 <!-- Delete Member Modal-->
 	  <form id="add-row-form" action="/delete" method="post">
 	     <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	        <div class="modal-dialog">
 	           <div class="modal-content">
 	               <div class="modal-header">
									 	<h5 class="modal-title" id="myModalLabel">Delete Member</h5>
 	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	               </div>
 	               <div class="modal-body">
												 <strong>Are You Sure To Delete This Data?</strong>
 	               </div>
 	               <div class="modal-footer">
									 		<input type="hidden" name="id" class="form-control id2" required>
 	                   	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 	                  	<button type="submit" class="btn btn-success">Delete</button>
 	               </div>
 	      			</div>
 	        </div>
 	     </div>
 	 </form>

<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
      function CheckPassword(inputtxt) 
      { 
        var passw= /(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})/;
        
        if(inputtxt.value.match(passw)) 
        { 
          return true;
        }
        else
        { 
          alert('Password that has at least one lowercase letter, one uppercase letter, one digit, one special character, and is at least eight characters long.')
          return false;
        }
      }
    $(document).ready(function(){
			//showing data to modal for edit record
      $('#mytable').on('click','.edit',function(){
        var id = $(this).data('id');
        var username = $(this).data('username');
        var password = $(this).data('password');
        var email = $(this).data('email');

        $('#EditModal').modal('show');
        $('.username').val(username);
        $('.password').val(password);
        $('.email').val(email);
        $('.id').val(id);
      });
			//showing modal for delete record
			$('#mytable').on('click','.delete',function(){
        var id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.id2').val(id);
      });     
    });
</script>
</body>
</html>
